$text: #000

body
  margin: 12px
  font-family: sans-serif

div.container
  margin: 0 auto
  max-width: 820px

div#title
  margin-bottom: 24px

div#title *
  margin: 0 auto

h1, h2, h3, h4, h5, h6
  margin: 0
  margin-bottom: 4px

h1
  font-size: 48pt

span.label
  font-weight: bold

div#about ul, div#links ul, div#accounts ul
  list-style: none
  padding-left: 0

  span.services
    @extend span.label

a
  text-decoration: none
  color: #008ed6

  &:hover
    text-decoration: underline

ul#media li img
  padding-left: 8px
  vertical-align: text-bottom
